a
{
    color: #38947d;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

body
{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("/static/watercolour_fern.png");
    background-repeat: repeat;
    background-color: #e6fff2;
    background-size: 10%;
    margin: 0;
    padding: 3vw;
}

button[type="submit"], button[type="search"], button[type="button"]
{
    border: 2px solid #ffffff;
    border-radius: 4px;
    color: #ffffff;
    background-color: #61baaf;
    cursor: pointer;
}

button[type="submit"], button[type="search"]
{
    padding: 5px 8px;
    margin: 8px 0;
    display: block;
    font: bolder 12px Arial, sans-serif;
}

button[type="button"]
{
    padding: 2px 2px;
    margin: 0 0 8px 0;
    display: inline;
    font: bolder 8px Arial, sans-serif;
    position: relative;
    bottom: 4px;
}

button[type="submit"]:hover, button[type="search"]:hover, button[type="button"]:hover
{
    box-shadow: 0 8px 5px 0 rgba(0,0,0,0.15), 0 10px 8px 0 rgba(0,0,0,0.1);
}

fieldset {
    width: fit-content;
}


form
{
    padding: 0 0 0 1%;
    font-size: 90%;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #e06ca6;
    margin: 5px;
    margin-left: 10px;
}

h1
{
    font-size: 2.5rem;
}

h2
{
    font-size: 1.8rem;
}

h3
{
    font-size: 1.5rem;
}

input[type="text"], input[type="number"], input[type="password"]
{
    width: 10rem;
    padding: 5px 8px;
    margin: 8px 2px;
    box-sizing: border-box;
    border: 2px solid #61baaf;
    border-radius: 4px;
    display: inline;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));
}

th, td, tr
{
    border: 1px solid #ffffff;
    padding: 5px;
    font-size: 90%;
}

table
{
    border-collapse: collapse;
    background-color: rgba(255,255,255,.5)
}



.error
{
    color: #e06ca6;
    border: 1px solid #ffffff;
    padding: 5px;
    display: inline;
    font-size: 150%;
}

.garden_size
{
    font-size: 100%;
    margin-left: 10px;
    color: #d28bae;
    font-weight: bold;
}

.input_label
{
    display: block;
}

.londrina-sketch
{
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.londrina-solid
{
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.login-form, .register-form {
    padding: 0;
    margin: 3rem;
    text-align: center;
}

.login-form button, .register-form button {
    margin: 1rem auto;
    background-color: #e06ca6;
}

.login-form .input_label input, .register-form .input_label input {
    border-color: #e06ca6;
    color: #5fb1f5;
    font-weight: bold;
}

.login-form .input_label, .register-form .input_label {
    color: #d28bae;
    font-weight: bold;
}

.table_footnotes
{
    padding: 5px 0 0 50px;
    font-style: italic;
    border: none;
}

.title
{
    font-family: "Londrina Sketch", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 6rem;
    display: block;
    color: #5fb1f5;
    text-align: center;
    margin: 1rem;
}

.navbar_ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar_header
{
    font-size: 1rem;
    height: 3.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navbar_link
{
    display: block;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: bold;
}

.navbar_li_left, .navbar_li_right {
    background-color: rgba(255, 117, 168, 0.4);
    border: 2px solid #ffffff;
    border-radius: 4px;
    padding: 0.3rem;
    width: fit-content;
    height: fit-content;
}

ul:has(.navbar_li_left) {
    display: flex;
    justify-content: flex-start;
    gap: 4%;
}

ul:has(.navbar_li_right) {
    display: flex;
    justify-content: flex-end;
    gap: 4%;
}

.yearly_garden_table, .weather
{
    margin: 1rem 0;
    border: 3px solid #ffffff;
    border-radius: 20px;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
}

.yearly_garden_table td
{
    padding: 10px;
    text-align: center;
}

.yearly_garden_table td:first-child
{
    border-right: 3px solid #ffffff;
}

.yearly_garden_table thead tr
{
    border-bottom: 3px solid #ffffff;
}

.yearly_garden_table tbody tr:nth-child(3n+2)
{
    border-bottom: 3px solid #ffffff;
}

.yearly_garden_table td:last-child
{
    width: 80px;
}

.yearly-garden-table-wrapper {
    overflow-x: auto;
    margin: 0.5rem;
}

@media (max-width: 600px) {
    
    h1 {
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    .navbar_header {
        height: 2.7rem;
    }

    .navbar_link{
        font-size: 0.6rem;
    }
    
    .title {
        font-size: 3rem;
        width: 10rem;
        margin: 0 auto;
    }

    .garden_size {
        font-size: 0.7rem;
    }

    ul:has(.navbar_li_left) {
        flex-direction: column;
        justify-content: flex-start;
        gap: 8%;
    }
    
    ul:has(.navbar_li_right) {
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        gap: 8%;
    }

    .weather {
        font-weight: normal;
        font-size: 1rem;
    }

    .yearly_garden_table {
        font-size: 1rem;
    }
}