{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form class="change-password-form" action="/change_password" method="post">
        <label class="input_label">New Password:
            <input autocomplete="off" name="new_password" placeholder="New Password" type="password">
        </label>
        <label class="input_label">Confirmation:
            <input autocomplete="off" name="confirmation" placeholder="Confirm Password" type="password">
        </label>
        <button type="submit">Submit Password</button>
    </form>
{% endblock %}
