{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form class="login-form" action="/login" method="post" target="_blank">
        <label class="input_label">Username:
            <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
        </label>
        <label class="input_label">Password:
            <input name="password" placeholder="Password" type="password">
        </label>
        <button type="submit">Log In</button>
    </form>
{% endblock %}
